@using Net14Web.DbStuff.ManagmentCompany.Models.Enums
@using Net14Web.Models.ManagmentCompany
@model ExecutorViewModel

@{
    Layout = "_LayoutManagmentCompany";
}

@section Style
{
    <link href="~/css/ManagmentCompany/ManagmentCompany.css" rel="stylesheet" />
    <link href="~/css/ManagmentCompany/Styles.css" rel="stylesheet" />
}

<div class="regContainer">
    @if ((!User?.Identity?.IsAuthenticated) ?? true)
    {
        foreach (var myPage in @Model.GuestPages)
        {
            <a href="/ManagmentCompany/@myPage.Key">@myPage.Value</a>
        }
        <a class="login" href="/auth/McLogin">Войти</a>
        <a class="reg" href="/ManagmentCompany/Registration">Зарегистрироваться</a>
    }
    else if ((User?.Identity?.IsAuthenticated) ?? true && User?.Claims
    .FirstOrDefault(x => x.Type == "permissionId")?.Value == ((int)MemberPermissionEnum.User).ToString())
    {
        foreach (var myPage in @Model.UserPages)
        {
            <a href="/ManagmentCompany/@myPage.Key">@myPage.Value</a>
        }
        <a class="login" href="/auth/McLogout">Выйти</a>
    }
    else
    {
        foreach (var myPage in @Model.AdminPages)
        {
            <a href="/ManagmentCompany/@myPage.Key">@myPage.Value</a>
        }
        <a class="login" href="/auth/McLogout">Выйти</a>
    }
    <h2>Панель администратора</h2>
    <div>
        <div class="add-user">
            <h2>Добавить исполнителя</h2>
            <form method="post" action="/ManagmentCompany/AddExecutor">
                <label for="firstName"> Имя:</label>
                @Html.TextBoxFor(x => x.ExecutorFirstName)
                @Html.ValidationMessageFor(x => x.ExecutorFirstName)

                <label for="lastName"> Фамилия:</label>
                @Html.TextBoxFor(x => x.ExecutorLastName)
                @Html.ValidationMessageFor(x => x.ExecutorLastName)

                <label for="nickName"> Ник на сайте:</label>
                @Html.TextBoxFor(x => x.ExecutorNickName)
                @Html.ValidationMessageFor(x => x.ExecutorNickName)

                <label for="email">Электронная почта:</label>
                @Html.TextBoxFor(x => x.ExecutorEmail)
                @Html.ValidationMessageFor(x => x.ExecutorEmail)

                <label for="password">Пароль для пользователя:</label>
                @Html.TextBoxFor(x => x.ExecutorPassword)
                @Html.ValidationMessageFor(x => x.ExecutorPassword)

                <label for="phoneNumber">Номер телефона:</label>
                @Html.TextBoxFor(x => x.ExecutorPhoneNumber)
                @Html.ValidationMessageFor(x => x.ExecutorPhoneNumber)

                <label for="expireDate">Выберите дату:</label>
                @Html.TextBoxFor(x => x.ExecutorExpireDate, new { type = "date" })
                @Html.ValidationMessageFor(x => x.ExecutorExpireDate)

                <label for="permission">Уровень доступа:</label>
                @Html.DropDownList("permissionId", Model.Permissions)

                <label for="project">Компания:</label>
                @Html.DropDownList("companyId", Model.Companies)

                <label for="project">Проект:</label>
                @Html.DropDownList("projectId", Model.Projects)

                <input class="submit" type="submit" value="Добавить пользователя" />
            </form>
        </div>
    </div>
</div>


