@using Net14Web.Models.ManagmentCompany
@model ProjectViewModel

@{
    Layout = "_LayoutManagmentCompany";
}

@section Style
{
    <link href="~/css/ManagmentCompany/ManagmentCompany.css" rel="stylesheet" />
    <link href="~/css/ManagmentCompany/Styles.css" rel="stylesheet" />
}

<div class="regContainer">
    <div class="dropdown">
        <button class="dropbtn">
            <img class="menu" src="icon.jpg" alt="Меню" id="menuIcon">
        </button>
        <div class="dropdown-content">
            <a href="/ManagmentCompany/Index">На главную</a>
            <a href="/ManagmentCompany/About">О нас</a>
            <a href="/ManagmentCompany/Contacts">Контакты</a>
            <a class="login" href="/ManagmentCompany/Login">Вход</a>
            <a class="reg" href="/ManagmentCompany/Registration">Регистрация</a>
        </div>
    </div>
    <h2>Панель администратора</h2>
    <div>
        <div class="add-project">
            <h2>Добавить проект</h2>
            <form method="post" action="/ManagmentCompany/AddProject">
                <label for="name"> Название проекта:</label>
                @Html.TextBoxFor(x => x.ProjectName)
                @Html.ValidationMessageFor(x => x.ProjectName)

                <label for="shortName">Сокращенное название:</label>
                @Html.TextBoxFor(x => x.ProjectShortName)
                @Html.ValidationMessageFor(x => x.ProjectShortName)

                <label for="adress">Адрес:</label>
                @Html.TextBoxFor(x => x.ProjectAdress)
                @Html.ValidationMessageFor(x => x.ProjectAdress)

                <label for="company">Компания:</label>
                @Html.DropDownList("companyId", Model.Companies)

                <input class="submit" type="submit" value="Добавить проект" />
            </form>
        </div>
    </div>
</div>


