@using Net14Web.Models.ManagmentCompany
@model List<UserViewModel>

@{
    Layout = "_LayoutManagmentCompany";
}

@section Style
{
    <link href="~/css/ManagmentCompany/ManagmentCompany.css" rel="stylesheet" />
}

<body>
    <div class="content-container">
        <h2 class="h2">Добро пожаловать на стартовую страницу!</h2>
        <p class="p">Здесь вы можете разместить важную информацию или предложения для пользователей.</p>
        <div class="userstat">
            <ul>
                <li><a @* href="AllUsers" *@>Всего участников</a></li>
                <li><a @* href="Users" *@>Пользователей</a></li>
                <li><a @* href="Admins" *@>Админов</a></li>
            </ul>
        </div>
        <div>
            <ul>
                @foreach (var user in Model)
                {
                    <li>
                        <div>
                            <span>@user.NickName | @user.PermissionLevel</span>

                            <form action="/ManagmentCompany/UpdateUser" class="update-form" method="post">
                                <input type="hidden" name="id" value="@user.Id" />
                                <input type="text" name="nickName" value="@user.NickName" @* placeholder="Новый никнейм" *@ required />
                                <button type="submit">Изменить</button>
                            </form>

                            <form action="/ManagmentCompany/RemoveUser" class="remove-form" method="post">
                                <input type="hidden" name="id" value="@user.Id" />
                                <button type="submit">Удалить</button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
            <div>
                Количество участников @Model.Count
            </div>
        </div>
    </div>
</body>