@using Net14Web.Models.ManagmentCompany
@model List<ExecutorViewModel>

@{
    Layout = "_LayoutManagmentCompany";
}

@section Style
{
    <link href="~/css/ManagmentCompany/ManagmentCompany.css" rel="stylesheet" />
    <link href="~/css/ManagmentCompany/Styles.css" rel="stylesheet" />
}

<div class="regContainer">
    <div class="dropdown">
        <button class="dropbtn">
            <img class="menu" src="icon.jpg" alt="Меню" id="menuIcon">
        </button>
        <div class="dropdown-content">
            <a href="/ManagmentCompany/Index">На главную</a>
            <a href="/ManagmentCompany/About">О нас</a>
            <a href="/ManagmentCompany/Contacts">Контакты</a>
            <a class="login" href="/ManagmentCompany/Login">Вход</a>
            <a class="reg" href="/ManagmentCompany/Registration">Регистрация</a>
        </div>
    </div>
    <h2>Панель администратора</h2>
    <div>
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="add-user">
                <h2>Добавить исполнителя</h2>
                <form method="post" action="/ManagmentCompany/UpdateExecutor">
                    <input type="hidden" name="id" value="@Model[i].Id" />
                    <label for="firstName"> Имя:</label>
                    @Html.TextBoxFor(x => x[i].ExecutorFirstName)
                    @Html.ValidationMessageFor(x => x[i].ExecutorFirstName)

                    <label for="lastName"> Фамилия:</label>
                    @Html.TextBoxFor(x => x[i].ExecutorLastName)
                    @Html.ValidationMessageFor(x => x[i].ExecutorLastName)

                    <label for="nickName"> Ник на сайте:</label>
                    @Html.TextBoxFor(x => x[i].ExecutorNickName)
                    @Html.ValidationMessageFor(x => x[i].ExecutorNickName)

                    <label for="email">Электронная почта:</label>
                    @Html.TextBoxFor(x => x[i].ExecutorEmail)
                    @Html.ValidationMessageFor(x => x[i].ExecutorEmail)

                    <label for="password">Пароль для пользователя:</label>
                    @Html.TextBoxFor(x => x[i].ExecutorPassword)
                    @Html.ValidationMessageFor(x => x[i].ExecutorPassword)

                    <label for="phoneNumber">Номер телефона:</label>
                    @Html.TextBoxFor(x => x[i].ExecutorPhoneNumber)
                    @Html.ValidationMessageFor(x => x[i].ExecutorPhoneNumber)

                    <label for="expireDate">Выберите дату:</label>
                    <div class="change">
                        @Html.TextBoxFor(x => x[i].ExecutorExpireDate, new { @class = "company-status", @readonly = "readonly" })
                        @Html.TextBoxFor(x => x[i].ExecutorExpireDate, new { type = "date" })
                    </div>
                    @Html.ValidationMessageFor(x => x[i].ExecutorExpireDate)

                    <label for="permission">Уровень доступа:</label>
                    <div class="change">
                        @Html.TextBoxFor(x => x[i].ExecutorMemberPermission, new { @class = "company-status", @readonly = "readonly" })
                        @Html.DropDownList("permissionId", Model[i].Permissions, new { @class = "company-status-list" })
                    </div>

                    <label for="project">Компания:</label>
                    <div class="change">
                        @Html.TextBoxFor(x => x[i].Company, new { @class = "company-status", @readonly = "readonly" })
                        @Html.DropDownList("companyId", Model[i].Companies, new { @class = "company-status-list" })
                    </div>

                    <label for="project">Проект:</label>
                    <div class="change">
                        @for (int j = 0; j < Model[i].Projects.Count; j++)
                        {
                            <div class="change">
                                @Html.TextBoxFor(x => x[j].Projects[j].Text, new { @class = "company-status", @readonly = "readonly" })
                                <a href="Delete">Delete</a>
                            </div>
                        }
                    </div>
                    @Html.DropDownList("projectId", Model[i].Projects, new { @class = "company-status-list" })
                    <input class="submit" type="submit" value="Обновить информацию" />
                </form>
            </div>
        }
    </div>
</div>


