@using Net14Web.Models.BookingWeb
@model IndexViewModel

@{
    Layout = "_LayoutBookingWeb";
}
@section Style
{
    <link href="~/css/booking.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/switchLang.js"></script>
}

<head>
    <title>voyager</title>
</head>
<body>
    <div class="options">
        <ul class="opt">
            <li> <a href="Index">@Net14Web.LocalizationFiles.Booking.NavbarStays</a> </li>
            <li> <a href="Flights">@Net14Web.LocalizationFiles.Booking.NavbarFlights</a> </li>
            <li> <a href="CarRental">@Net14Web.LocalizationFiles.Booking.NavbarCarRentals</a> </li>
            <li> <a href="UserCountrySearch">@Net14Web.LocalizationFiles.Booking.NavbarMySearches</a> </li>
            <li> <a href="UserChat">@Net14Web.LocalizationFiles.Booking.NavbarUserChat </a></li>
        </ul>
    </div>
    <div class="searchBlock">
        <div class="bg-image">
            <div class="search">@Net14Web.LocalizationFiles.Booking.Search</div>
            <form method="post">
                <div class="searchfields">
                    <div class="field">
                        <input placeholder="@Net14Web.LocalizationFiles.Booking.SearchCountry" name="country" />
                    </div>
                    <div class="field">
                        <input placeholder="@Net14Web.LocalizationFiles.Booking.SearchCity" name="city" />
                    </div>
                    <div class="field">
                        <input placeholder="@Net14Web.LocalizationFiles.Booking.SearchCheckin" type="date" name="CheckinDate" />
                    </div>
                    <div class="field">
                        <input placeholder="@Net14Web.LocalizationFiles.Booking.SearchCheckout" type="date" name="CheckoutDate" />
                    </div>
                    <div>
                        <input type="submit" value="Search" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>Trending destinations:</div>
    <div class="offer">
        <div class="offerbox"></div>
        <div class="offerbox"></div>
        <div class="offerbox"></div>
        <div class="offerbox"></div>
        <div class="city">France, Paris</div>
        <div class="city">Italy, Rome</div>
        <div class="city">Brasil, Rio-De-Janeiro</div>
        <div class="city">Georgia, Tiflis</div>
    </div>
    <div>
        Don't know where to go? Try this direction!
        <div class="api">
            <div class="api-random-country">
                @Model.CountryApiViewModel.Name
                @Model.CountryApiViewModel.Region
            </div>
            <a class="api-map" href="@Model.CountryApiViewModel.Map">See on GoogleMaps</a>
        </div>
    </div>
    <img class="ipInfo-Api" src="@Model.catUrl"/>
</body>