@using Net14Web.Models.BookingWeb
@model List<UserLoginViewModel>

@{
    Layout = "_LayoutBookingWeb";
}
@section Style
{
    <link href="~/css/booking.css" rel="stylesheet" />
}

@section Script {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/booking/index.js"></script>
}

<button><a href="Login">Login</a></button>

    <form action="UpdateEmail" method="post" class="update-user-email">
        <input type="hidden" name="loginId" value=0 />
        <input type="email" name="email" />
        set new email for user <span class="login-id"></span>
        <input type="submit" value="update" />
    </form>
@foreach (var user in Model)
{
    <div class="user" data-id="@user.Id">
        <div class="name-only">
            @user.Name
            <div>
                <form action="CreatePromoCode" method="post">
                    <input type="hidden" name="id" value=@user.Id />
                    <input type="submit" value="Create PromoCode"></input>
                </form>
            </div>
            <div>
                @if (user.PromoCode != null)
                {
                    <span>Your PromoCode Is: @user.PromoCode</span>
                }
            </div>
        </div>
        <div class="full-info">
            @if (user.CanDelete)
            {
                <a href="Remove?id=@user.Id">Remove</a>
            }
            <div>
                Owner: @user.Owner
            </div>
            <div class="user-name">
                Your Name: @user.Name
            </div>
            <div>
                Your E-mail: @user.Email
            </div>
            <div>
            </div>
            Your Password: @user.Password
        </div>
    </div>

}
