@using Net14Web.Models.BookingWeb
@model List<UserLoginViewModel>

@{
    Layout = "_LayoutBookingWeb";
}
@section Style
{
    <link href="~/css/booking.css" rel="stylesheet" />
}

@section Script {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/booking/index.js"></script>
}

<button><a href="Login">Login</a></button>

<div>
    <form action="UpdateEmail" method="post" class="update-user-email">
        <input type="hidden" name="loginId" value=0 />
        <input type="email" name="email" />
        set new email for user <span class="login-id"></span>
        <input type="submit" value="update" />
    </form>
</div>
@foreach (var client in Model)
{
    <div class="user" data-id="@client.Id">
        <div class="name-only">
            @client.Name
            <div>
                <form action="CreatePromoCode" method="post">
                    <input type="hidden" name="id" value=@client.Id />
                    <input type="submit" value="Create PromoCode"></input>
                </form>
            </div>
            <div>
                Your PromoCode Is : @client.PromoCode
            </div>
        </div>
        <div class="full-info">
            @if (client.CanDelete)
            {
                <a href="Remove?id=@client.Id">Remove</a>
            }
            <div>
                Owner: @client.Owner
            </div>
            <div class="user-name">
                Your Name: @client.Name
            </div>
            <div>
                Your E-mail: @client.Email
            </div>
            <div>
            </div>
            Your Password: @client.Password
        </div>
    </div>

}
