@using ManagementCompany.DbStuff.Models.Enums
@model LoginViewModel

@{
    Layout = "_LayoutManagementCompany";
}

@section Style
{
    <link href="~/css/ManagementCompany.css" rel="stylesheet" />
    <link href="~/css/Styles.css" rel="stylesheet" />
}

<main>
    <div class="loginContainer">
        <div class="dropdown">
            <button class="dropbtn">
                <img class="menu" src="icon.jpg" alt="Меню" id="menuIcon">
            </button>
            <div class="dropdown-content">
                @if ((!User?.Identity?.IsAuthenticated) ?? true)
                {
                    foreach (var myPage in @Model.GuestPages)
                    {
                        <a href="/ManagementCompany/@myPage.Key">@myPage.Value</a>
                    }
                    <a class="login" href="/Auth/Login">Войти</a>
                    <a class="reg" href="/ManagementCompany/Registration">Зарегистрироваться</a>
                }
                else if ((User?.Identity?.IsAuthenticated) ?? true && User?.Claims
                .FirstOrDefault(x => x.Type == "permissionId")?.Value == ((int)MemberPermissionEnum.User).ToString())
                {
                    foreach (var myPage in @Model.UserPages)
                    {
                        <a href="/ManagementCompany/@myPage.Key">@myPage.Value</a>
                    }
                    <a class="login" href="/Auth/Logout">Выйти</a>
                }
                else
                {
                    foreach (var myPage in @Model.AdminPages)
                    {
                        <a href="/ManagementCompany/@myPage.Key">@myPage.Value</a>
                    }
                    <a class="login" href="/Auth/Logout">Выйти</a>
                }
            </div>
        </div>
        <h2>Авторизация</h2>
        <form method="post" class="loginForm" action="/Auth/Login">
            <label for="name">Ваша почта:</label>
            @Html.TextBoxFor(x => x.Email)

            <label for="password">Пароль:</label>
            @Html.PasswordFor(x => x.Password)

            <button class="button" type="submit">Войти</button>

            <a class="reg-ref" href="/ManagementCompany/Registration">Регистрация</a>
        </form>
    </div>
</main>
