<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Style", false)
    @RenderSection("Script", false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/switchLang.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="/BookingWeb/Index"><img src="/images/BookingWeb/logo.png" width="190" height="190" /></a>
            </div>
            <div class="navinfo">
                <ul class="navinfo">
                    <button> <a href="#">@Net14Web.LocalizationFiles.Booking.LayoutCurrency</a> </button>
                    <button><span class="lang">EN</span></button>
                    <button><span class="lang">RU</span></button>
                    <button> <a href="/BookingWeb/Help">@Net14Web.LocalizationFiles.Booking.LayoutHelp</a> </button>
                    <button> <a href="/BookingWeb/Login">@Net14Web.LocalizationFiles.Booking.LayoutLogin</a> </button>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
</body>
<footer>
    <button> <a href="#">@Net14Web.LocalizationFiles.Booking.Privacy</a> </button>
    <button> <a href="#">@Net14Web.LocalizationFiles.Booking.AboutCompany</a> </button>
    <button> <a href="/BookingWeb/Help">@Net14Web.LocalizationFiles.Booking.Help</a> </button>
    <button> <a href=#>@Net14Web.LocalizationFiles.Booking.Cookies</button>
</footer>
</html>
