@model RealEstateNet14Web.Models.ChatModels.ChatViewModel
@section Style
{
    <link href="~/css/RealEstate/RealEstate.css" rel="stylesheet"/>
     <link href="~/css/site.css" rel="stylesheet"/>
}

@section Script
{
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
     <script src="~/js/signalr/dist/browser/signalr.js"></script>
      <script src="~/js/SwitchLanguage.js"></script> 
     <script src="~/js/Chat.js"></script>
}           

<div class="chat">
    <input type="hidden" class="user-name" value="@Model.UserName"/>
    <div class="messages">
        <div class="message template">
            <span class="user-name">@RealEstateNet14Web.Localization.RealEstate.Assistent</span>
            <span class="message-text">@RealEstateNet14Web.Localization.RealEstate.ICanHelpYou_</span>
        </div>
    </div>
    <div>
        <input class="new-message-text"/>
        <button class="send-message-button">@RealEstateNet14Web.Localization.RealEstate.Send</button>
    </div>
</div>

<div class="block-right">
    <select class="button-right" name="Money">
        <option value="Money">BYN</option>
        <option selected value="Money">USD</option>
        <option value="Money">EUR</option>
        <option value="Money">RUB</option>

    </select>
    <button class="button-right">@RealEstateNet14Web.Localization.RealEstate.AddAnnouncement</button>

    @if ((!User?.Identity?.IsAuthenticated) ?? true)
    {
        <a class="button-right" href="/AuthRealEstate/RealEstateLogin">@RealEstateNet14Web.Localization.RealEstate.Login</a>
    }
    else
    {
        <a href="/AuthRealEstate/RealEstateLogout">@RealEstateNet14Web.Localization.RealEstate.Logout</a>
        <a href="/RealEstate/AddApartament">@RealEstateNet14Web.Localization.RealEstate.AddAnnouncement</a>
        <a href="/RealEstate/CheckAllApartaments">@RealEstateNet14Web.Localization.RealEstate.AllAnnouncement</a>
    }
</div>

<div class="block-center">
    <div class="dropdown-block-center">
        <button class="dropbtn-center">@RealEstateNet14Web.Localization.RealEstate.Sale</button>
        <div class="dropdown-content">
            <a href="#">@RealEstateNet14Web.Localization.RealEstate.Apartament</a>
            <a href="#">@RealEstateNet14Web.Localization.RealEstate.House</a>
            <a href="#">@RealEstateNet14Web.Localization.RealEstate.Garages</a>
        </div>
    </div>
    <div class="dropdown-block-center">
        <button class="dropbtn-center">@RealEstateNet14Web.Localization.RealEstate.Rent</button>
        <div class="dropdown-content">
            <a href="#">@RealEstateNet14Web.Localization.RealEstate.ForALongTime</a>
            <a href="#">@RealEstateNet14Web.Localization.RealEstate.ForADay</a>
        </div>
    </div>
    <div class="dropdown-block-center">
        <button class="dropbtn-center">@RealEstateNet14Web.Localization.RealEstate.NewBuildings</button>
        <div class="dropdown-content">
            <a href="#">@RealEstateNet14Web.Localization.RealEstate.Apartament</a>
            <a href="#">@RealEstateNet14Web.Localization.RealEstate.NewBuildings</a>
            <a href="#">@RealEstateNet14Web.Localization.RealEstate.ResidentialComplexes</a>
        </div>
    </div>

</div>
<div class="images-container">
    <div class="center size">@RealEstateNet14Web.Localization.RealEstate.SearchForRealEstateInMinsk</div>
    <div class="quick-choice">
        <div class="block button">
            @RealEstateNet14Web.Localization.RealEstate.Buy
        </div>
        <div class="block button">
            @RealEstateNet14Web.Localization.RealEstate.Rent
        </div>
        <div class="block button">
           @RealEstateNet14Web.Localization.RealEstate.ForADay
        </div>
        <div class="block button">
           @RealEstateNet14Web.Localization.RealEstate.NewBuildings
        </div>
    </div>

    <div class="choice">
        <div class="dropdown-block">
            <button class="dropbtn">@RealEstateNet14Web.Localization.RealEstate.PropertyType</button>
            <div class="dropdown-content">
                <a href="#">@RealEstateNet14Web.Localization.RealEstate.Apartament</a>
                <a href="#">@RealEstateNet14Web.Localization.RealEstate.House</a>
                <a href="#">@RealEstateNet14Web.Localization.RealEstate.Garages</a>
            </div>
        </div>
        <div class="dropdown-block">
            <button class="dropbtn">@RealEstateNet14Web.Localization.RealEstate.HowManyRooms_</button>
            <div class="dropdown-content">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
            </div>
        </div>
        <div class="dropdown-block">
            <button class="dropbtn">@RealEstateNet14Web.Localization.RealEstate.AtWhatCost_</button>
            <div class="dropdown-content">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
            </div>
        </div>
        <div class="dropdown-block">
            <input class="style" placeholder="@RealEstateNet14Web.Localization.RealEstate.InWhatCity_" type="text">
        </div>
    </div>
     <div class="footer">
         Языки: <span class="lang">ru-RU</span> <span class="lang">en-EN</span>
     </div>
</div>