@model RealEstateNet14Web.Models.Home.HomeIndexViewModel
@section Script
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="~/js/signalr/dist/browser/signalr.js"></script>
     <script src="~/js/SwitchLanguage.js"></script> 
     <script src="~/js/Chat.js"></script>
}
@section Style
{
    <link href="~/css/RealEstate/RealEstate.css" rel="stylesheet"/>
    <link href="~/css/site.css" rel="stylesheet"/>
    <link href="~/css/RealEstate/chat.css" rel="stylesheet"/>
}
<div>
   <div>
       Курсы валют:
   </div>
    <div>
        USD: @Model.ExchangeRatesViewModel.USD 
    </div>
    <div>
        EUR: @Model.ExchangeRatesViewModel.EUR 
    </div>
    <div>
        RUB: @Model.ExchangeRatesViewModel.RUB 
    </div>
    
</div>


<div class="block-right">
    <select class="button-right" name="Money">
        <option value="Money">BYN</option>
        <option selected value="Money">USD</option>
        <option value="Money">EUR</option>
        <option value="Money">RUB</option>

    </select>
    
    <form action="/RealEstate/CheckAllRealEstate">
        <button class="button-right">@RealEstateNet14Web.Localization.RealEstate.AllAnnouncement</button>
    </form>
    

    @if ((!User?.Identity?.IsAuthenticated) ?? true)
    {
        <form action="/AuthRealEstate/RealEstateLogin">
            <button class="button-right">@RealEstateNet14Web.Localization.RealEstate.Login</button>
        </form>
    }
    else
    {
        <form action="/RealEstate/AddRealEstate">
            <button class="button-right">@RealEstateNet14Web.Localization.RealEstate.AddAnnouncement</button>
        </form>
        <form action="/Alert/CreateAlert">
            <button class="button-right">CreateAlert</button>
        </form>
        <form action="/AuthRealEstate/RealEstateLogout">
            <button class="button-right">@RealEstateNet14Web.Localization.RealEstate.Logout</button>
        </form>
    }
</div>

<div class="block-center">
    <div class="dropdown-block-center">
        <button class="dropbtn-center">@RealEstateNet14Web.Localization.RealEstate.Sale</button>
        <div class="dropdown-content">
            <form action="/RealEstate/GetRealEstateByType">
                <input type="hidden" name="Type" value="Квартира"/>
                <button class="dropdown-button">@RealEstateNet14Web.Localization.RealEstate.Apartament</button>
            </form>
            <form action="/RealEstate/GetRealEstateByType">
                <input type="hidden" name="Type" value="Дом"/>
                <button class="dropdown-button">@RealEstateNet14Web.Localization.RealEstate.House</button>
            </form>
            <form action="/RealEstate/GetRealEstateByType">
                <input type="hidden" name="Type" value="Гараж"/>
                <button class="dropdown-button">@RealEstateNet14Web.Localization.RealEstate.Garages</button>
            </form>
        </div>
    </div>
    <div class="dropdown-block-center">
        <button class="dropbtn-center">@RealEstateNet14Web.Localization.RealEstate.Rent</button>
        <div class="dropdown-content">
            <form action="/RealEstate/CheckRealEstateWithStatus">
                <input type="hidden" name="Status" value="Аренда"/>
                <button class="dropdown-button">@RealEstateNet14Web.Localization.RealEstate.ForALongTime</button>
            </form>
            <form action="/RealEstate/CheckRealEstateWithStatus">
                <input type="hidden" name="Status" value="Посуточно"/>
                <button class="dropdown-button">@RealEstateNet14Web.Localization.RealEstate.ForADay</button>
            </form>
        </div>
    </div>
    <div class="dropdown-block-center">
        <button class="dropbtn-center">@RealEstateNet14Web.Localization.RealEstate.NewBuildings</button>
        <div class="dropdown-content">
            <form action="/RealEstate/GetRealEstateByType">
                <input type="hidden" name="Type" value="Квартира"/>
                <button class="dropdown-button">@RealEstateNet14Web.Localization.RealEstate.Apartament</button>
            </form>
            <form action="/RealEstate/GetRealEstateByType">
                <input type="hidden" name="Type" value="Новостройки"/>
                <button class="dropdown-button">@RealEstateNet14Web.Localization.RealEstate.NewBuildings</button>
            </form>
            <form action="/RealEstate/GetRealEstateByType">
                <input type="hidden" name="Type" value="Жилой комплекс"/>
                <button class="dropdown-button">@RealEstateNet14Web.Localization.RealEstate.ResidentialComplexes</button>
            </form>
        </div>
    </div>

</div>
<div class="images-container">
    <div class="center size">@RealEstateNet14Web.Localization.RealEstate.SearchForRealEstateInMinsk</div>
    <div class="quick-choice">
        <div class="block button">
             <form action="/RealEstate/CheckRealEstateWithStatus">
                 <input type="hidden" name="Status" value="Продажа"/>
                 <button class="block button">@RealEstateNet14Web.Localization.RealEstate.Buy</button>
             </form>
        </div>
        <div class="block button">
            <form action="/RealEstate/CheckRealEstateWithStatus">
                <input type="hidden" name="Status" value="Аренда"/>
                <button class="block button">@RealEstateNet14Web.Localization.RealEstate.Rent</button>
            </form>
        </div>
        <div class="block button">
            <form action="/RealEstate/CheckRealEstateWithStatus">
                <input type="hidden" name="Status" value="Посуточно"/>
                <button class="block button"> @RealEstateNet14Web.Localization.RealEstate.ForADay</button>
            </form>
        </div>
        <div class="block button">
            <form action="/RealEstate/CheckRealEstateByType">
                <input type="hidden" name="Status" value="Новостройки"/>
                <button class="block button">@RealEstateNet14Web.Localization.RealEstate.NewBuildings</button>
            </form>
        </div>
    </div>
    <form method="get">
        <div class="choice">
                <div class="dropdown-block">
                    <button class="dropbtn">@RealEstateNet14Web.Localization.RealEstate.PropertyType</button>
                    <div class="dropdown-content">
                        <div>
                            <input type="hidden" value="Квартира"/>
                            <button>@RealEstateNet14Web.Localization.RealEstate.Apartament</button>
                        </div>
                        <div>
                            <input type="hidden" value="Дом"/>
                            <button>@RealEstateNet14Web.Localization.RealEstate.House</button>
                        </div>
                        <div>
                            <input type="hidden" value="Гараж"/>
                            <button>@RealEstateNet14Web.Localization.RealEstate.Garages</button>
                        </div>
                    </div>
                </div>
                <div class="dropdown-block">
                    <button class="dropbtn">@RealEstateNet14Web.Localization.RealEstate.HowManyRooms_</button>
                    <div class="dropdown-content">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                    </div>
                </div>
                <div class="dropdown-block">
                    <button class="dropbtn">@RealEstateNet14Web.Localization.RealEstate.AtWhatCost_</button>
                    <div class="dropdown-content">
                        <a href="#">0-15000</a>
                        <a href="#">15000-30000</a>
                        <a href="#">30000-45000</a>
                    </div>
                </div>
            <div class="dropdown-block">
                <input class="style" placeholder="@RealEstateNet14Web.Localization.RealEstate.InWhatCity_" type="text">
            </div>
            <div class="dropdown-block">
                 <form action="/RealEstate/SearchRealEstate">
                     <button class="block button">Найти</button>
                 </form>
            </div>
        </div>
    </form>
    <div class="chat">
        <input type="hidden" class="user-name" value="@Model.UserName"/>
        <div class="messages">
            <div class="message template">
                <span class="user-name">@RealEstateNet14Web.Localization.RealEstate.Assistent</span>
                <span class="message-text">@RealEstateNet14Web.Localization.RealEstate.ICanHelpYou_</span>
            </div>
        </div>
        <div>
            <input class="new-message-text"/>
            <button class="send-message-button">@RealEstateNet14Web.Localization.RealEstate.Send</button>
        </div>
    </div>
     <div class="footer">
         Языки: <span class="lang">ru-RU</span> <span class="lang">en-EN</span>
     </div>
</div>