@using ManagementCompany.DbStuff.ManagmentCompany.Models.Enums
@using ManagementCompany.Models.ManagmentCompany
@model BaseViewModel

@{
    Layout = "_LayoutManagmentCompany";
}

@section Style
{
    <link href="~/css/ManagmentCompany/ManagmentCompany.css" rel="stylesheet" />
    <link href="~/css/ManagmentCompany/Styles.css" rel="stylesheet" />
}

<main>
    <div class="error-page">
        <div class="dropdown">
            <button class="dropbtn">
                <img class="menu" src="icon.jpg" alt="Меню" id="menuIcon">
            </button>
            <div class="dropdown-content">
                @if ((!User?.Identity?.IsAuthenticated) ?? true)
                {
                    foreach (var myPage in @Model.GuestPages)
                    {
                        <a href="/ManagmentCompany/@myPage.Key">@myPage.Value</a>
                    }
                    <a class="login" href="/auth/McLogin">Войти</a>
                    <a class="reg" href="/ManagmentCompany/Registration">Зарегистрироваться</a>
                }
                else if ((User?.Identity?.IsAuthenticated) ?? true && User?.Claims
                .FirstOrDefault(x => x.Type == "permissionId")?.Value == ((int)MemberPermissionEnum.User).ToString())
                {
                    foreach (var myPage in @Model.UserPages)
                    {
                        <a href="/ManagmentCompany/@myPage.Key">@myPage.Value</a>
                    }
                    <a class="login" href="/auth/McLogout">Выйти</a>
                }
                else
                {
                    foreach (var myPage in @Model.AdminPages)
                    {
                        <a href="/ManagmentCompany/@myPage.Key">@myPage.Value</a>
                    }
                    <a class="login" href="/auth/McLogout">Выйти</a>
                }
            </div>
        </div>
        <p>Упс, что-то пошло не так...</p>
        <img src="https://media1.tenor.com/m/Wv6zVQPZFtcAAAAC/error.gif" width="300" height="300" alt="Sorry" />
        <p>Кажется, мы не нашли вас в системе.</p>
        <p>Проверьте правильность ввода Логина или Пароля.</p>
    </div>
</main>
