@using Net14Web.Models.Movies
@model MovieViewModel

@section Style
{
    <link rel="stylesheet" href="~/css/movies.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-5.3.2-dist/css/bootstrap.css">
}

<div>
    <section class="vh-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <p class="text-center h1 fw-bold">@Model.Title</p>
                                    <div class="row">
                                        <div class="col-md-2 text-center mx-auto d-block">
                                            <img src="@Model.PosterUrl" class="rounded movie-poster">
                                        </div>
                                        <div class="col-md-12 text-center mx-auto d-block">
                                            @Model.Description
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        @if ((User?.Identity?.IsAuthenticated ?? false) && Model.CanAddCommentToMovie)
                                        {
                                            @using (Html.BeginForm(nameof(Net14Web.Controllers.MoviesControllers.MoviesController.AddCommentOnMovie), "Movies", FormMethod.Post, new { @class = "col-12" }))
                                            {
                                                <div class="input-group">
                                                    <input type="hidden" name="movieId" value="@Model.Id" />
                                                    <input type="text" class="form-control" name="description" placeholder="Комментарий" aria-describedby="input-group-button-right">
                                                    <button type="submit" class="btn btn-outline-secondary"
                                                            id="input-group-button-right">
                                                        Оставить комментарий
                                                    </button>
                                                </div>
                                                <br>
                                            }
                                        }
                                        @foreach (var comment in @Model.Comments)
                                        {
                                            <div>
                                                <a class="comment-a rounded" href="/movies/user/@comment.User.UserId">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <img src="@comment.User.AvatarUrl" class="rounded comment-image">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="card-body">
                                                                <p class="h5">@comment.User.Username</p>
                                                                <p class="card-text">
                                                                    @comment.Description
                                                                </p>
                                                                @if ((User?.Identity?.IsAuthenticated ?? false) && comment.CanRemoveCommentFromMovie)
                                                                {
                                                                    <a class="btn btn-link" href="/movies/deleteCommentOnMovie?commentId=@comment.Id">Удалить</a>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p class="card-text">
                                                                <small class="text-muted">
                                                                    @comment.TimeOfWriting
                                                                </small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <br/>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
