@using Net14Web.Models.GameShop
@model List<GameViewModel>

@{
    Layout = "_LayoutGameShop";
}

@section Style
{
    <link href="~/css/games.css" rel="stylesheet" />
}

<div>
    <a href="/GameShop/AddGame">AddGame</a>
</div>

<div class="games">
    @foreach (var game in Model)
    {
        <div class="game">
            <div class="delete-button">
                <a href="/gameShop/delete?id=@game.Id" class="remove-link">X</a>
            </div>

            <div>
                <img src="@game.PosterUrl" />
            </div>

            <div class="game-footer">
                <div class="name-block">
                    <div>
                        @game.Name
                    </div>
                    <div class="upgrade-name">
                        <form action="/gameShop/upgrade" method="post">
                            <input type="hidden" name="gameModel.Id" value="@game.Id" />
                            <input type="hidden" name="gameModel.LogoUrl" value="@game.PosterUrl" />
                            <input type="hidden" name="gameModel.Raiting" value="@game.Rating" />
                            <input type="hidden" name="gameModel.Genre" value="@game.Genre" />
                            <div>
                                <input type="text" name="gameModel.Name" />
                            </div>
                            <div>
                                <input type="submit" value="Upd" />
                            </div>

                        </form>
                    </div>
                    <div class="view-button">
                        <form action="/gameShop/profile" method="get">
                            <input type="hidden" name="id" value="@game.Id" />
                            <input type="submit" value="View"/>    
                        </form>
                    </div>
                </div>
                <div class="raiting-block">
                    <div>
                        @game.Rating
                    </div>
                </div>
                <div class="genre-block">
                    <div>
                        @game.Genre
                    </div>
                </div>
            </div>
        </div>
    }
</div>
