@using Net14Web.Models.Bonds
@model BondsIndexViewMode
@{
    Layout = "_LayoutBonds";
}
@section Style
{
    <link href="~/css/Bonds/Bonds.css" rel="stylesheet" />
}
<div>
    User: @Model.UserName
</div>
<div class="scroll-table">
    <table>
        <thead>
            <tr>
                <th>Владелец</th>
                <th>Название облигации</th>
                <th>Цена</th>
            </tr>
        </thead>
    </table>
    <div class="scroll-table-body">
        <table>
            <tbody>               
                @foreach (var bond in Model.Bonds)
                {
                    <tr>
                        <td>
                            @bond.OwnerName                           
                        </td>
                        <td>
                            @bond.Name 
                            <a href="/Bonds/Remove?id=@bond.Id">
                                <img src="/images/Bonds/logo_delete.webp"
                                     width="17"
                                     height="17">
                            </a>
                        </td>
                        <td>@bond.Price рублей
                            <form action="/Bonds/UpdatePrice" method="post">
                                <input type="hidden" name="id" value="@bond.Id" />
                                <input type="number" name="price"/>
                                <input type="submit" value="Обновить" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

