@using Net14Web.Models.Home
@model HomeIndexViewModel

@section Script {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/home/chat.js"></script>
    <script src="~/js/home/chart.js"></script>
}

@section Style
{
    <link href="~/css/home/index.css" rel="stylesheet" />
}

<div>
    Smile! Интересный факт о числе @Model.Number 
    <div>
        @Model.FactAboutNumber
    </div>
    <div>
        @Model.MathFactAboutNumber
    </div>
    <img class="nice-dog" src="@Model.DogUrl" />
    <div>
        Погода для
        <select class="place-for-weather">
            <option value="">Там где я</option>
            <option selected value="[53.53, 27.34]">Минск</option>
            <option value="[52.05, 23.40]">Брест</option>
            <option value="[52.26, 31.00]">Гомель</option>
            <option value="[53.40, 23.49]">Гродно</option>
            <option value="[35.42, 139.36]">Токио</option>
            <option value="[59.57, 30.19]">Питер</option>
        </select>
    </div>
    <div id="weatherChart"></div>
    <div>
        Сейчас @Model.WeatherViewModel.TemperatureNow градусов
       <div>
            @for (int i = 0; i < 24; i++)
            {
                <div class="temperature">В @i часов @Model.WeatherViewModel.TemperaturesFor24Hours[i]</div>
            }
       </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <text>
            Curernt: @Model.CurrentLocale
            Switch local to
            <a href="/Home/SwitchLocale?locale=en">English</a>
            <a href="/Home/SwitchLocale?locale=ru">Русский</a>
        </text>
    }
</div>
<div class="chat">
    <input type="hidden" class="user-name" value="@Model.UserName" />
    <div class="messages">
        <div class="message template">
            <span class="user-name">Ivan</span>
            <span class="message-text">Hi</span>
        </div>
    </div>
    <div>
        <input class="new-message-text" />
        <button class="send-message-button">Send</button>
    </div>
</div>


